.odsidian\workspace.json
Centennial/Term 1/COMP100 - Programming 1/Joyce Farrell - Microsoft Visual C_ 2017_ An Introduction to Object-Oriented Programming (2017, Cengage Learning) - libgen.li (1).pdf
Centennial/Term 1/COMM College Communications 2/The Canadian Writer's Workplace -- Gary Lipschutz, Sandra Scarry, John Scarry -- Ninth edition, Toronto, 2021 -- Nelson Education Limited -- 0176831002 -- 44e6a272bc84b3d8cee30b9f8f96a2aa -- Anna’s Archive.pdf
Centennial/Term 1/COMP123 - Software Engineering Fundamentals/computer_architecture.pdf